@charset "UTF-8";
/* COMMON */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Mixins */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row.align-center {
  justify-content: center;
}

.col-xs-1 {
  width: 8.3333333333%;
  padding: 0 15px;
}

.col-xs-2 {
  width: 16.6666666667%;
  padding: 0 15px;
}

.col-xs-3 {
  width: 25%;
  padding: 0 15px;
}

.col-xs-4 {
  width: 33.3333333333%;
  padding: 0 15px;
}

.col-xs-5 {
  width: 41.6666666667%;
  padding: 0 15px;
}

.col-xs-6 {
  width: 50%;
  padding: 0 15px;
}

.col-xs-7 {
  width: 58.3333333333%;
  padding: 0 15px;
}

.col-xs-8 {
  width: 66.6666666667%;
  padding: 0 15px;
}

.col-xs-9 {
  width: 75%;
  padding: 0 15px;
}

.col-xs-10 {
  width: 83.3333333333%;
  padding: 0 15px;
}

.col-xs-11 {
  width: 91.6666666667%;
  padding: 0 15px;
}

.col-xs-12 {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 600px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 900px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-md-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-md-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-md-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1800px) {
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-xl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-xl-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-xl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-xl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-xl-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-xl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-xl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-xl-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-xl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-xl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-xl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Components */
h1 {
  color: #103463;
  font-size: 2.235em;
  font-weight: 500;
}

p {
  color: #103463;
  font-weight: 400;
  font-size: 1em;
}

.pUnder {
  font-style: italic;
  color: #A9AAAA;
  font-size: 1em;
}

.pTitle {
  font-size: 0.875em;
}

/* Radio Buttons */
.group {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.group label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
.group label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #103463;
  border-radius: 0.25em;
  z-index: -1;
}

input[type=radio] + label::before {
  border-radius: 1em;
}

/* Checked */
input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  padding-left: 1em;
  color: #103463;
}
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: white;
}

/* Transition buttons radio */
.group label,
label::before {
  transition: 0.25s all ease;
}

/* Buttons suivant/précédent */
a.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 300;
  color: white;
  background-color: #103463;
  text-align: center;
  transition: all 0.2s;
}

a.button3:hover {
  background-color: #4095c6;
}

.pagination {
  position: relative;
  margin: 0 auto;
}

.networks i {
  font-size: 1.5em;
  color: #103463;
  padding-right: 0.125em;
}

.networks {
  text-align: right;
}

/* Layout */
* {
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 350;
  margin: 0;
  padding: 0;
}

.space-1 {
  padding-top: 3%;
}

.space-2 {
  padding-top: 7em;
}

.space-3 {
  padding-top: 2em;
}

/* @media (max-width: 599px) {
    .space-2{
        padding-top: %;
    }
   } */
footer hr {
  border: 0.5px solid #E9EBEC;
}

footer p {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.page-header {
  position: fixed;
  display: flex;
  height: 5rem;
  width: 100%;
  background: white;
  z-index: 2;
}
.page-header > .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.page-header > .header-content .logo {
  width: 22rem;
  height: 4rem;
  border-radius: 1rem;
}
.page-header > .header-content .logo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page-header > .header-content > #hamburger-checkbox {
  display: none;
}
.page-header > .header-content > .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
  width: 1.3rem;
  height: 1.3rem;
}
.page-header > .header-content > .hamburger > .line {
  width: 100%;
  height: 0.15rem;
  background: #000;
}
.page-header > .header-content > nav {
  position: absolute;
  top: 0;
  right: -100%;
  transition: right 0.3s ease;
}
.page-header > .header-content > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  list-style: none;
}
.page-header > .header-content > nav > ul > li {
  margin: 0.8rem 0;
}
.page-header > .header-content > nav > ul > li > a {
  color: #111;
  text-decoration: none;
}
.page-header > .header-content > nav > ul > li > a:hover {
  color: #db4741;
  text-decoration: none;
}
.page-header > .header-content .page-shader {
  display: none;
  transition: opacity 0.3s ease;
}
.page-header > .header-content > #hamburger-checkbox:checked ~ .page-shader {
  background: #00000010;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.page-header > .header-content > #hamburger-checkbox:checked ~ nav {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  height: 100vh;
  width: 15rem;
  z-index: 1;
  background: #FAFBFB;
}

@media screen and (min-width: 800px) {
  .page-header > .header-content > .hamburger {
    display: none;
  }
  .page-header > .header-content > nav {
    position: static;
  }
  .page-header > .header-content > nav > ul {
    flex-direction: row;
  }
  .page-header > .header-content > nav > ul > li {
    margin: 0 0.8rem;
  }
  .page-header > .header-content > #hamburger-checkbox:checked ~ .page-shader {
    display: none;
  }
  .page-header > .header-content > #hamburger-checkbox:checked ~ nav {
    background: transparent;
  }
}