* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 350;
    margin: 0;
    padding: 0;

}

.space-1 {
    padding-top: 3%;
}


.space-2 {
    padding-top: 7em;
}

.space-3 {
    padding-top: 2em;
}
/* @media (max-width: 599px) {
    .space-2{
        padding-top: %;
    }
   } */