.page-header {
    position: fixed;
  
    display: flex;
    height: 5rem;
    width: 100%;
  
    background: white;
  
    z-index: 2;
  
    > .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 80%;
  
      .logo {
        width: 22rem;
        height: 4rem;
        border-radius: 1rem;
  
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      > #hamburger-checkbox {
        display: none;
      }
  
      > .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 2;
  
        width: 1.3rem;
        height: 1.3rem;
  
        > .line {
          width: 100%;
          height: 0.15rem;
          background: #000;
        }
      }
  
      > nav {
        position: absolute;
        top: 0;
        right: -100%;
  
        transition: right 0.3s ease;
  
        > ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
          margin: auto 0;
          list-style: none;
  
          > li {
            margin: 0.8rem 0;
  
            > a {
              color: #111;
              text-decoration: none;
            }
            > a:hover {
                color: #db4741;
                text-decoration: none;
              }
          }
        }
      }
  
      .page-shader {
        display: none;
        transition: opacity 0.3s ease;
      }
  
      > #hamburger-checkbox:checked ~ .page-shader {
        background: #00000010;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
      }
  
      > #hamburger-checkbox:checked ~ nav {
        right: 0;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        padding: 1rem 2rem;
        height: 100vh;
        width: 15rem;
        z-index: 1;
  
        background: #FAFBFB;
      }
    }
  }
  
  @media screen and (min-width: 800px) {
    .page-header {
      > .header-content {
        > .hamburger {
          display: none;
        }
  
        > nav {
          position: static;
  
          > ul {
            flex-direction: row;
  
            > li {
              margin: 0 0.8rem;
            }
          }
        }
  
        > #hamburger-checkbox:checked ~ .page-shader {
          display: none;
        }
  
        > #hamburger-checkbox:checked ~ nav {
          background: transparent;
        }
      }
    }
  }
  