/* Radio Buttons */ 
.group {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .group label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    &:before {
      box-sizing: border-box;
      content: " ";
      position: absolute;
      top: 0.3em;
      left: 0;
      display: block;
      width: 1.4em;
      height: 1.4em;
      border: 2px solid #103463;
      border-radius: .25em;
      z-index: -1;
    }
  }
  input[type="radio"] + label::before {
    border-radius: 1em;
  }
  /* Checked */
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding-left: 1em;
    color: #103463;
    &:before {
      top: 0;
      width: 100%;
      height: 2em;
      background: white;
    }
  }
  
  /* Transition buttons radio */
  .group label,
  label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  /* Buttons suivant/précédent */
  a.button3 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Poppins';
    font-weight:300;
    color: white;
    background-color:#103463;
    text-align:center;
    transition: all 0.2s;
    }
a.button3:hover{
    background-color:#4095c6;
    }

.pagination {
    position: relative;
    margin: 0 auto;
}