h1 {
    color: #103463;
    font-size: 2.235em;
    font-weight: 500;

}
p {
    color: #103463;
    font-weight: 400;
    font-size: 1em;
}

.pUnder {
    font-style: italic;
    color: #A9AAAA;
    font-size: 1em;
}

.pTitle {
    font-size: 0.875em;
}